{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Items</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                {% comment %} <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    <li><a href="category.html" class="nav-link">Men <span class="badge badge-secondary">42</span></a>
                      <ul class="list-unstyled">
                        <li><a href="category.html" class="nav-link">T-shirts</a></li>
                        <li><a href="category.html" class="nav-link">Shirts</a></li>
                        <li><a href="category.html" class="nav-link">Pants</a></li>
                        <li><a href="category.html" class="nav-link">Accessories</a></li>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link active">Ladies  <span class="badge badge-light">123</span></a>
                      <ul class="list-unstyled">
                        <li><a href="category.html" class="nav-link">T-shirts</a></li>
                        <li><a href="category.html" class="nav-link">Skirts</a></li>
                        <li><a href="category.html" class="nav-link">Pants</a></li>
                        <li><a href="category.html" class="nav-link">Accessories</a></li>
                      </ul>
                    </li>
                    <li><a href="category.html" class="nav-link">Kids  <span class="badge badge-secondary">11</span></a>
                      <ul class="list-unstyled">
                        <li><a href="category.html" class="nav-link">T-shirts</a></li>
                        <li><a href="category.html" class="nav-link">Skirts</a></li>
                        <li><a href="category.html" class="nav-link">Pants</a></li>
                        <li><a href="category.html" class="nav-link">Accessories</a></li>
                      </ul>
                    </li>
                  </ul>
                </div> {% endcomment %}
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Brands 
                  {% comment %} <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3> {% endcomment %}
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Armani 
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Versace  
                        </label>
                      </div>      
                    </div>
                    {% comment %} <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button> {% endcomment %}
                  </form>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Colours 
                  {% comment %} <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3> {% endcomment %}
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour white"></span> White 
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour blue"></span> Blue
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour green"></span>  Green 
                        </label>
                      </div>
                    </div>
                    {% comment %} <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button> {% endcomment %}
                  </form>
                </div>
              </div>
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="{% static 'img/mtn.png' %}" alt="sales 2014" class="img-fluid"></a>
                <p>We accept MTN Mobile Money payment</p>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>Items</h1>
                <p>We offer wide selection of the best products we have found and carefully selected worldwide.</p>
              </div>
              {% comment %} <div class="box info-bar">
                <div class="row">
                  <div class="col-md-12 col-lg-4 products-showing">Showing <strong>12</strong> of <strong>25</strong> products</div>
                  <div class="col-md-12 col-lg-7 products-number-sort">
                    <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                      <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                      <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                        <select name="sort-by" class="form-control">
                          <option>Price</option>
                          <option>Name</option>
                          <option>Sales first</option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="row products">
                {% for item in queryset %}
                  <div class="col-lg-4 col-md-6">
                  
                    <div class="product">
                      
                      <div class="flip-container">
                        <div class="flipper">
                          <div class="front"><a href="{% url 'core:product_detail' item.id %}"><img src="{{item.thumbnail_1.url}}" alt="" class="img-fluid"></a></div>
                          <div class="back"><a href="{% url 'core:product_detail' item.id %}"><img src="{{item.thumbnail_2.url}}" alt="" class="img-fluid"></a></div>
                        </div>
                      </div><a href="{% url 'core:product_detail' item.id %}"><img src="{{item.thumbnail_3.url}}" alt="" class="img-fluid"></a>
                      <div class="text">
                        <h3><a href="{% url 'core:product_detail' item.id %}">{{item.title}}</a></h3>
                       <h5><p class="price"> 
                        <del></del>{{item.price}}
                         {% for item in item.categories.all %} 
                          <del></del>{{item.name}}
                        {% endfor %}
                      </p></h5>
                        <p class="buttons"><a href="{% url 'core:product_detail' item.id %}" class="btn btn-outline-secondary">View detail</a><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                      </div>
                    </div>
                  
                  </div>
                {% endfor %}
              </div>
              <div class="pages">
              {% if queryset.has_next %}  
                <p class="loadMore"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
              {% endif %} 
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                  {% if queryset.has_previous %} 
                    <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                  {% endif %}
  
                    <li class="page-item active"><a href="?{{ page_request_var }}={{ queryset.queryset.number }}" class="page-link">{{ queryset.number }}</a></li>
                  {% if queryset.has_next %}  
                
                    <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                  {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>

{% endblock %}